@using OSRSHelper.Models
@model OSRSHelper.Models.ViewModels.MultipleProducts
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Details</h1>
@* TODO fix how secodn product is displayed *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.FarmType.FarmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Material.MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.MaterialSecond.MaterialName)
            </th>

        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.ProductValue)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.ProductExperience)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.FarmType.FarmName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.Material.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.MaterialSecond.MaterialName)
                </td>
            </tr>
        @if (Model.ProductSecond != null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ProductSecond.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductSecond.ProductValue)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductSecond.ProductExperience)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductSecond.FarmType.FarmName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductSecond.Material.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductSecond.MaterialSecond.MaterialName)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
            <br />
            @Html.DisplayFor(model => model.ProductSecond.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductValue)
            <br />
            @Html.DisplayFor(model => model.ProductSecond.ProductValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductExperience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductExperience)
            <br />
            @Html.DisplayFor(model => model.ProductSecond.ProductExperience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.FarmType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.FarmType.FarmName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Material.MaterialName)
            @Html.DisplayFor(model => model.Product.Material.MaterialValue)
            <br />
            @Html.DisplayFor(model => model.ProductSecond.Material.MaterialName)
            @Html.DisplayFor(model => model.ProductSecond.Material.MaterialValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.MaterialSecond)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.MaterialSecond.MaterialName)
            @Html.DisplayFor(model => model.Product.MaterialSecond.MaterialValue)
            <br />
            @Html.DisplayFor(model => model.ProductSecond.MaterialSecond.MaterialName)
            @Html.DisplayFor(model => model.ProductSecond.MaterialSecond.MaterialValue)
        </dd>
        
        
        @if (Model.farmSpot != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.farmSpot.SpotName)
            </dt>
            <dd class="col-sm-18">
				@Html.DisplayFor(model => model.farmSpot.SpotName)
            </dd>
            <dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.farmSpot.Time)
            </dt>
			<dd class="col-sm-18">
                @Html.DisplayFor(model => model.farmSpot.Time)
			</dd>
        }
    </dl>
</div>

<form method="get">
    <div class="details">
        <div class="form-group">
            <label class="form-label">Compare product</label>
            <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId">
                <option value="">Select</option> <!-- To be nullable value="" -->
            </select>
        </div>
        <div class="form-group">
            <label class="form-label">Spot name</label>
            <select asp-for="FarmTypeId" class="form-control" asp-items="ViewBag.FarmSpotId">
                <option value="">Select</option> <!-- To be nullable value="" -->
            </select>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Compare" class="btn btn-primary" />
        </div>
    </div>
</form>